{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<div class="row">
    <div class="col">
        <h6>Compumarana</h6>
        <h6>David de Jesús Escorcia Gómez</h6>
        <h6>1143462150-9</h6>
    </div>
    <div class="col">
        <h6>CATÁLOGO PRODUCTOS 2021</h6>
        <br>
        <h6>3002457435 – compumarana@gmail.com</h6>
    </div>
    <div class="col">
        <img class="rounded mx-auto d-block" width="100" src="{% static 'img/OtiliaTransparente.png' %}" alt="Los Tejos" />
    </div>
</div>
<div class="row">
    <table>
        
    </table>
</div>
{% endblock %}