{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<div class="row">
    <div class="col">
        <h3>Compumarana</h3>
        <h3>David de Jesús Escorcia Gómez</h3>
        <h3>1143462150-9</h3>
    </div>
    <div class="col">
        <h2>CATÁLOGO PRODUCTOS 2021</h2>
        <br>
        <h2>3002457435 – compumarana@gmail.com</h2>
    </div>
    <div class="col">
        <img class="rounded mx-auto d-block" width="100" src="{% static 'img/OtiliaTransparente.png' %}" alt="Los Tejos" />
    </div>
</div>
<div class="row">
    <table>
        
    </table>
</div>
{% endblock %}