#thead-list-productos {
    text-align: center;
    font-size: medium;
}

#td-detalles-productos {
    text-align: right;
    max-width: 200px;
}

#buscador-input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

#buscador-button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }