{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/custom.js' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row my-4 mx-2">
    <form action="/action_page.php">
        <div class="row">

            <div class="col-sm">
                <label for="">SKU Producto: </label>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Search.." name="search" id="buscador-input">
            </div>
            <div class="col-sm">
                <button type="submit" id="buscador-button" class="btn btn-outline-success"><i
                        class="fa fa-search"></i></button>
            </div>

        </div>

    </form>
</div>

{% endblock %}