{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<div class="row my-4">
    <div class="col">
        <h6>Compumarana</h6>
        <h6>David de Jesús Escorcia Gómez</h6>
        <h6>1143462150-9</h6>
    </div>
    <div class="col">
        <h6><strong>CATÁLOGO PRODUCTOS 2021</strong></h6>
        <br>
        <h6>3002457435 – compumarana@gmail.com</h6>
    </div>
    <div class="col">
        <img class="rounded mx-auto d-block" width="100" src="{% static 'img/compumarana.png' %}" alt="Los Tejos" />
    </div>
</div>
{% for reg in productos %}
<div class="row my-4">
    <table class="table table-bordered">
        <thead id="">
            <tr>
                <th scope="col">1.Nombre</th>
                <th scope="col">2.Imagen</th>
                <th scope="col">3.Código</th>
                <th scope="col">4.SKU</th>
                <th scope="col">5.Costo Producto</th>
                <th scope="col">6.Precio Producto</th>
                <th scope="col">7.Marca Producto</th>
                <th scope="col">8.Modelo Producto</th>
                <th scope="col">9.Cantidad Producto</th>
                <th scope="col">10.IVA Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{reg.nombreproducto}}</td>
                <td><img src="{{reg.imagenproducto}}" alt=""></td>
                <td>{{reg.codigoproducto}}</td>
                <td>{{reg.sku}}</td>
                <td>{{reg.costoproducto}}</td>
                <td>{{reg.precioproducto}}</td>
                <td>{{reg.marcaproducto}}</td>
                <td>{{reg.modeloproducto}}</td>
                <td>{{reg.cantidadproducto}}</td>
                <td>{{reg.ivaproducto}}</td>
            </tr>
            <tr>
                <th scope="col">11.Detalles</th>
                <td colspan="9" style="text-align: justify;">{{reg.detalles}}</td>
            </tr>
        </tbody>

    </table>
</div>
{% endfor %}

{% endblock %}